@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    font-family: "Mulish", sans-serif;
}

header {
    margin: 50px 80px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav1 {
    display: flex;
    align-items: center;
    gap: 1px;
}

.nav1 h2 {
    color: #131318;
    font-size: 2rem;
    font-weight: 800;
}

.navspan {
    color: #FF5400;
}

.nav3 {
    display: none;
}

.nav1 img {
    width: 50px;
    height: 50px;
}

nav ul {
    display: flex;
    gap: 2rem;
}

nav ul li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    color: #424247;
    font-size: 1.25rem;
    font-weight: 400;
}

.nava {
    color: #FF5400;
    font-weight: 700;
}

/* header */
.header-content {
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../Images/Group 13 (1) (1).png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 110px 100px;
    color: #FFF;
    text-align: center;

}

.header-title {
    font-size: 2rem;
    font-weight: 800;
}

.header-des {
    font-weight: 400;
}

.header-input {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    background-size: 100%;
}

.header-input input {
    padding: 16px 50px 16px 16px;
    size: 4;
    border: none;
    border-radius: 8px;
}

.btn-1 {
    padding: 16px 50px 16px 16px;
    border-radius: 8px;
}

.btn-2 {
    border: none;
    color: #FFF;
    border-radius: 8px;
    background: #FF5400;
    padding: 16px 10px 16px 20px;
}

/* popular */
main {
    margin: 50px 80px;
}

.popular {
    display: flex;
    gap: 7rem;
}

.popular-title {
    color: #131318;
    font-size: 2rem;
    font-weight: 800;
}

.popular-pic {
    width: 100%;
}

.popular-des {
    color: rgba(19, 19, 24, 0.70);
    font-weight: 400;
}

.btn-pri {
    border-radius: 8px;
    background: #FF5400;
    border: none;
    color: #FFF;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: 800;
}

/* destination0 */
.destination {
    margin-top: 80px;
}

.destination-title {
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
}
.collage{
     display: flex;
     flex-direction: column;
     gap: 20px;
}
.pic11 {
    position: relative;
    text-align: center;
    color: white;
  }
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    font-size: 2rem;
  }
.destination-des {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 50px;
}
.pic1{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
   
}
.pic1 img{
    width: 100%;
    height: 250px;
}
.pic2{
    display: grid;
    grid-template-columns: 30% 40% 30%;
    gap: 10px;
}
.pic2 img{
    width: 100%;
   height: 220px;
}

.pic3{
    display: grid;
    grid-template-columns:40% 60%;
    gap: 20px;
}
.pic3 img{
    width: 100%;
    height: 250px;
}
/* why choose  */
.choose {
    margin-top: 40px;
}

.choose-title {
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
}

.choose-des {

    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-weight: 400;
    margin-bottom: 40px;
    padding: 5px 90px;
}

.card-container {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.card {
    padding: 20px;
    width: 40%;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.card2 {
    background: rgba(41, 206, 246, 0.05);
}

/* news */
.news {
    margin-top: 40px;
    display: flex;
    gap: 10px;
    margin-bottom: 0px;
}

.email {
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 1rem;
}

.subs {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.newstitle {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}

.newsdes {
    color: #5A5A5D;
    font-weight: 400;
}

.subs input {
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
    padding: 10px;
}

.subs button {
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-weight: 800;
    padding: 10px;
    border: none;
}
.newspic{
    position: relative;
    width: 100%;
}
.newspic img {
    width: 100%;
}

.save {
    border-radius: 16px;
    background: #FF5400;
    color: #FFF;
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    border: none;
    padding: 10px;
    position: absolute;
    transform: rotate(-19.628deg);
    bottom: 22%;
    left: 45%;
}

/* footer */
footer {
    padding: 100px 300px;
    text-align: center;
    background: rgba(19, 19, 24, 0.05);
}

.fo {
    justify-content: center;
    
}

.social img {
    width: 40px;
    height: 40px;
}

.footdes {
    color: #5A5A5D;
    text-align: center;
    font-weight: 400;
}

.social {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}
.copyright{
    margin-top: 20px;
    color: #131318;
    font-weight: 400;
}
/* new section */
.hotels-card{
    padding: 40px;
    background-color: aliceblue;
    border-radius: 16px;
    border: 2px solid white;
}
.hotels-name{
    display: flex;
    justify-content: space-between;
}
.hotels-title{
    text-align: center;
    color: #131318;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 40px;
}
.titless{
    color: #131318;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.hotels-card p{
    color: #131318;
    font-weight: 400;
}
@media screen and (max-width: 600px) {

    header,
    main {
        margin: 10px 0;
    }

    .header-input,
    .popular,
    .card-container,
    .news,
    .hotels-name {
        flex-direction: column;
    }
    .card {
        width: 85%;
    }
    .save{
        font-size: 1.25rem;
    }

    .popular-pic img {
        width: 100%;
    }

    .header-input {
        gap: 10px;
    }
    .nav1 h2{
        font-size: 1.25rem;
    }
    nav ul {
        display: none;
    }

    .nav3 {
        display: flex;
        width: 50px;
        height: 50px;

    }

    nav {
        gap: 30px;
    }
    footer{
        padding: 10px 20px;
    }
    .pic1,.pic2,.pic3{
        grid-template-columns: 1fr;
    }

}